#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# XXX multiple masters are not supported
if [ -e /etc/sysconfig/ethercat ] ; then
	# If we have a configuration file, we try to find which eth-device the user configured
	# and set this one into the debconf database. If nothing is defined we set the last eth
	# device as default.
	. /etc/sysconfig/ethercat

	if [ "x$MASTER0_DEVICE" != "x" ] ; then
		ETH_DEV=$(ifconfig -a | awk '/'"$MASTER0_DEVICE"'/ { print $1 }') || true
		if [ ! -z "$ETH_DEV" ] ; then
			nic_defined="true"
			db_set shared/etherlab-nic-to-use $ETH_DEV
		fi
	fi

	if [ "x$DEVICE_MODULES" != "x" ] ; then
		db_set shared/etherlab-driver-to-use "$DEVICE_MODULES"
	fi
fi

# Devices matching the regex in filterList will not be shown
filterList='vmnet|virbr'
if [ "x$nic_defined" != "xtrue" ] ; then
	# default to the last found nic
	DEFAULT_ETH=$(ifconfig -a | awk '/HWaddr/ { print $1 }' | egrep -v $filterList | tail -1)
	db_set shared/etherlab-nic-to-use $DEFAULT_ETH
fi

# Everything with a HWaddr is possible. We filter out vmnet for convenience.
db_subst shared/etherlab-nic-to-use eth-devices $(ifconfig -a | awk '/HWaddr/ { print $1 }' | egrep -v $filterList | xargs | sed 's/ /, /g')
db_input medium shared/etherlab-nic-to-use || true
db_go

db_input medium shared/etherlab-driver-to-use || true
db_go

#DEBHELPER#

